@charset "UTF-8";
.header {
  width: 480px;
  height: 60px;
  background: #ffffff;
  padding: 16px 15px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.burger {
  width: 40px;
  height: 40px;
}

.logo {
  width: 134px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.03em;
  color: black;
}

.WEB {
  color: #2196f3;
}

.nav {
  display: none;
}

.contcts {
  display: none;
}

.img1 {
  display: none;
}

.img2 {
  display: none;
}

@media (min-width: 768px) {
  .header {
    margin: 0 10px;
    margin: 0 auto;
    width: 768px;
    height: 80px;
    background: #ffffff;
    padding: 26px 15px;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .burger {
    display: none;
  }
  .logo {
    margin-right: 87px;
  }
  .nav {
    display: block;
  }
  .contcts {
    display: block;
  }
  .nav-list {
    display: flex;
    margin-right: 95px;
  }
  .nav__list--item:not(:last-child) {
    margin-right: 50px;
  }
  .header-gmailandtell-div {
    display: none;
  }
  .contacts-item:not(:last-child) {
    margin-bottom: 10px;
  }
  .img1 {
    display: none;
  }
  .img2 {
    display: none;
  }
  .nav-link {
    display: block;
    height: 16px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #212121;
  }
  .contacts-link {
    display: block;
    height: 14px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.02em;
    color: #757575;
  }
}
/* доповни медіа правило */
@media (min-width: 1600px) {
  .header {
    margin: 0 10px;
    margin: 0 auto;
    height: 80px;
    padding: 26px 215px;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .img1 {
    display: block;
    height: 12px;
    width: 16px;
  }
  .img2 {
    display: block;
  }
  .contcts {
    display: flex;
  }
  .contcts {
    display: none;
  }
  .header-icon {
    margin-right: 10px;
  }
  .header-gmailandtell-div {
    display: flex;
  }
  .header-gmail {
    width: 135px;
    height: 16px;
  }
  .header-gmail-div {
    width: 161px;
    height: 16px;
  }
  .header-tell-div {
    width: 142px;
    height: 16px;
  }
}
.header-icon {
  color: #757575;
}

.header-gmailandtell-div {
  color: #757575;
}

.icon-envelope {
  height: 12px;
  width: 16px;
}

.header-gmail {
  color: #757575;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
}

.header-tell {
  color: #757575;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
}