@charset "UTF-8";
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  background-color: #ffffff;
}

/*-------------------------------*/
.header {
  width: 480px;
  height: 60px;
  background: #ffffff;
  padding: 16px 15px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.burger {
  width: 40px;
  height: 40px;
}

.logo {
  width: 134px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.03em;
  color: black;
}

.header-gmailandtell-div {
  display: none;
}

.WEB {
  color: #2196f3;
}

.nav {
  display: none;
}

.contcts {
  display: none;
}

.img1 {
  display: none;
}

.img2 {
  display: none;
}

@media (min-width: 768px) {
  .header {
    margin: 0 10px;
    margin: 0 auto;
    width: 768px;
    height: 80px;
    background: #ffffff;
    padding: 26px 15px;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .burger {
    display: none;
  }
  .header-gmailandtell-div {
    display: block;
  }
  .logo {
    margin-right: 87px;
  }
  .nav {
    display: block;
  }
  .contcts {
    display: block;
  }
  .nav-list {
    display: flex;
    margin-right: 95px;
  }
  .nav__list--item:not(:last-child) {
    margin-right: 50px;
  }
  .contacts-item:not(:last-child) {
    margin-bottom: 10px;
  }
  .img1 {
    display: none;
  }
  .img2 {
    display: none;
  }
  .nav-link {
    display: block;
    height: 16px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #212121;
  }
  .contacts-link {
    display: block;
    height: 14px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.02em;
    color: #757575;
  }
}
/* доповни медіа правило */
@media (min-width: 1600px) {
  .header {
    margin: 0 10px;
    margin: 0 auto;
    height: 80px;
    padding: 26px 215px;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .img1 {
    display: block;
    height: 12px;
    width: 16px;
  }
  .img2 {
    display: block;
  }
  .contcts {
    display: flex;
  }
  .contcts {
    display: none;
  }
  .header-icon {
    margin-right: 10px;
  }
  .header-gmailandtell-div {
    display: flex;
  }
  .header-gmail {
    width: 135px;
    height: 16px;
  }
  .header-gmail-div {
    width: 161px;
    height: 16px;
  }
  .header-tell-div {
    width: 142px;
    height: 16px;
  }
}
.header-icon {
  color: #757575;
}

.header-gmailandtell-div {
  color: #757575;
}

.icon-envelope {
  height: 12px;
  width: 16px;
}

.header-gmail {
  color: #757575;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
}

.header-tell {
  color: #757575;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
}

/*-------------------------------*/
.hero {
  background-image: url(./img/img.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding-bottom: 118px;
  padding-top: 118px;
  text-align: center;
  margin-bottom: 94px;
}

.conainer {
  margin: 0 auto;
  padding: 0 15px;
}

.title {
  min-width: 360px;
  height: 84px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  font-size: 26px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
  margin: 0 auto;
}

.button {
  width: 200px;
  height: 50px;
  background-color: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.button-text {
  width: 152px;
  height: 30px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  text-align: center;
  letter-spacing: 0.06em;
  color: white;
  margin: 0 auto;
  margin-bottom: 40px;
}

@media (min-width: 770px) {
  .hero {
    background-image: url(./img/Header-img-tablet.png);
  }
}
@media (min-width: 1200px) {
  .hero {
    background-image: url(./img/imgd.png);
    margin-bottom: 60px;
  }
  .title {
    width: 696px;
    height: 120px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 136%;
    letter-spacing: 0.06em;
    color: white;
  }
}
/*-------------------------------*/
.perevagy-img {
  padding: 25px 100px;
  border-radius: 4px;
  background: #F5F4FA;
  width: 270px;
  height: 120px;
}
@media (max-width: 1599px) {
  .perevagy-img {
    width: 354px;
    height: 120px;
    padding: 25px 142px;
  }
}
@media (max-width: 767px) {
  .perevagy-img {
    width: 450px;
    height: 120px;
    padding: 25px 190px;
  }
}

.perevagy-l {
  display: flex;
  /*&:not(:last-child){
      margin-right: 30px;
  }*/
}
@media (max-width: 1599px) {
  .perevagy-l {
    flex-wrap: wrap;
  }
}
@media (max-width: 767px) {
  .perevagy-l {
    flex-direction: column;
  }
}

.perevagy-li {
  width: 270px;
  height: 248px;
  margin-right: 30px;
}
@media (max-width: 1599px) {
  .perevagy-li {
    margin-right: 0px;
    width: 354px;
    height: 226px;
  }
}
@media (max-width: 767px) {
  .perevagy-li {
    width: 450px;
    height: 226px;
    /*&:not(:last-child){
        margin-bottom: 30px;
    }*/
  }
}

.perevagy {
  width: 1170px;
  height: 248px;
  margin: 0 auto;
}
@media (max-width: 1599px) {
  .perevagy {
    width: 738px;
    height: 480px;
    justify-content: center;
  }
}
@media (max-width: 767px) {
  .perevagy {
    width: 450px;
    height: 994px;
  }
}

@media (max-width: 1599px) {
  .per-tablet {
    margin-right: 30px;
  }
}
@media (max-width: 767px) {
  .per-tablet {
    margin-right: 0;
  }
}

/*-------------------------------*/
.what-title {
  color: #212121;
  font-family: "Roboto";
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.08px;
  margin-bottom: 50px;
}

.what-list {
  display: flex;
}

.what-subtitle {
  background: rgba(47, 48, 58, 0.8);
  color: #FFF;
  text-align: center;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  width: 370px;
  height: 70px;
}

.dd {
  background-image: url(./img/dd.png);
}

.md {
  background-image: url(./img/md.png);
}

.dr {
  background-image: url(./img/dr.png);
}

.what-item {
  width: 370px;
  height: 294px;
  padding-top: 224px;
}
.what-item:not(:last-child) {
  margin-right: 30px;
}

.dds {
  padding: 27px 107px;
}

.mds {
  padding: 27px 113px;
}

.drs {
  padding: 27px 95px;
}

.what {
  margin-left: 215px;
}
@media (max-width: 1599px) {
  .what {
    display: none;
  }
}
@media (max-width: 767px) {
  .what {
    display: none;
  }
}

/*                               */
.what-title {
  display: flex;
  align-items: center;
  justify-content: center;
}

/*                               */
/** {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .hero {
    background-image: url(./img.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    padding-bottom: 118px;
    padding-top: 118px;

    text-align: center;
  }
  .conainer {
    margin: 0 auto;
    padding: 0 15px;
  }
  .title {
    min-width: 360px;
    height: 84px;

    font-family: "Roboto";
    font-style: normal;
    font-weight: 900;
    font-size: 26px;
    line-height: 42px;

    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    color: #ffffff;
    margin: 0 auto;
  }*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.team-list-item {
  margin-left: 15px;
  margin-bottom: 30px;
  height: 622px;
  width: 450px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background: #FFFFFF;
}
@media (min-width: 767px) {
  .team-list-item {
    height: 536px;
    width: 354px;
    margin-left: 30px;
    margin-bottom: 30px;
  }
}

.img {
  color: black;
}

.social-media {
  display: flex;
  margin-left: 115px;
  margin-right: 74px;
  margin-bottom: 24px;
}
@media (min-width: 767px) {
  .social-media {
    margin-left: 74px;
    margin-right: 74px;
  }
}

.social-media-list-item {
  height: 44px;
  width: 44px;
  padding: 12px;
  border-radius: 50%;
}
.social-media-list-item:not(:last-child) {
  margin-right: 10px;
}
.social-media-list-item:hover {
  background-color: rgb(33, 150, 243);
}
@media (min-width: 767px) {
  .social-media-list-item {
    height: 44px;
    width: 44px;
    padding: 12px;
  }
}

.pi1 {
  margin-left: 161px;
}
@media (min-width: 767px) {
  .pi1 {
    margin-left: 113px;
  }
}

.pi2 {
  margin-left: 173px;
}
@media (min-width: 767px) {
  .pi2 {
    margin-left: 125px;
  }
}

.pi3 {
  margin-left: 160px;
}
@media (min-width: 767px) {
  .pi3 {
    margin-left: 112px;
  }
}

.pi4 {
  margin-left: 153px;
}
@media (min-width: 767px) {
  .pi4 {
    margin-left: 105px;
  }
}

.pr1 {
  margin-left: 160px;
}
@media (min-width: 767px) {
  .pr1 {
    margin-left: 112px;
  }
}

.pr2 {
  margin-left: 152px;
}
@media (min-width: 767px) {
  .pr2 {
    margin-left: 104px;
  }
}

.pr3 {
  margin-left: 187px;
}
@media (min-width: 767px) {
  .pr3 {
    margin-left: 139px;
  }
}

.pr4 {
  margin-left: 182px;
}
@media (min-width: 767px) {
  .pr4 {
    margin-left: 134px;
  }
}

.miha {
  margin-bottom: 30px;
  height: 460px;
  width: 450px;
}
@media (min-width: 767px) {
  .miha {
    height: 374px;
    width: 354px;
  }
}

.nasha-comanda {
  font-weight: 700;
  font-size: 28px;
  line-height: 33px;
  margin-bottom: 30px;
  margin-left: 138px;
}
@media (min-width: 767px) {
  .nasha-comanda {
    margin-left: 282px;
  }
}
@media (min-width: 1200px) {
  .nasha-comanda {
    margin-left: 668px;
  }
}

.pi {
  margin-bottom: 10px;
}

.pr {
  margin-bottom: 16px;
}

@media (min-width: 767px) {
  .team {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}

@media (min-width: 767px) {
  .tli1 {
    margin-left: 15px;
  }
}

@media (min-width: 767px) {
  .tli3 {
    margin-left: 15px;
  }
}

/*                               */
.grid-div {
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  width: 170px;
  height: 92px;
  padding: 16px 32px;
}

.grid-img {
  width: 106px;
  height: 60px;
  color: #AFB1B8;
}

.grid-div:hover {
  background-color: #2196F3;
}

.grid-list {
  display: grid;
  grid-template-columns: 200px 200px 200px 200px 200px 170px;
  grid-template-rows: 92px;
  margin-left: 215px;
}

.grid-list-item {
  width: 170px;
}

.grid-title {
  color: #212121;
  text-align: center;
  font-family: Roboto;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.08px;
  margin: 0 auto;
}

.grid {
  margin-bottom: 94px;
}

@media (max-width: 1199px) {
  .grid-list {
    grid-template-columns: 256px 256px 226px;
    grid-template-rows: 122px 122px;
    margin-left: 15px;
  }
  .grid {
    margin-bottom: 60px;
  }
}
@media (max-width: 767px) {
  .grid-list {
    grid-template-columns: 240px 210px;
    grid-template-rows: 122px 122px 122px;
    margin-left: 15px;
  }
  .grid {
    margin-bottom: 60px;
  }
}
/*                               */
/*fonts*/
@font-face {
  font-family: "Raleway-Bold";
  src: url(./assets/fonts/Raleway-Bold.ttf);
}
@font-face {
  font-family: "Roboto-Bold";
  src: url(./assets/fonts/Roboto-Bold.ttf);
}
/*style*/
.footer_content {
  display: flex;
}

.footer_social_media_list_item:hover {
  background-color: #2196F3;
}

.footer_div_subscribe {
  background-color: #2196F3;
  display: flex;
}

.footer_social_media_list {
  display: flex;
}

.footer_social_media_list_item {
  width: 44px;
  height: 44px;
  border-radius: 50%;
}

.footer_social_media_img {
  padding: 12px 12px;
}

.footer_text_input {
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  color: white;
}

.footer_input {
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}

.footer_text_subscribe_and_input {
  font-family: "Roboto-Bold";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.footer_logo {
  font-family: "Raleway-Bold";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: #2196F3;
}

.footer_span_logo {
  font-family: "Raleway-Bold";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: #FFFFFF;
}

.footer {
  width: 1600px;
  height: 252px;
  background-color: #2F303A;
}

.footer_text_input {
  margin-right: 10px;
}

.footer_div_input {
  background-color: #2F303A;
}

.footer_input {
  background-color: #2F303A;
}

.footer_input_and_subscribe {
  display: flex;
}

.footer_gmail {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  display: block;
}

.footer_tell {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  display: block;
}

.footer_logo {
  margin-bottom: 20px;
}

.footer_info {
  margin-right: 70px;
}

.footer_social_media {
  margin-right: 93px;
}

.footer_text_subscribe {
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #FFFFFF;
}

.footer_div_subscribe {
  width: 200px;
  height: 50px;
  background: #2196F3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.telegram {
  width: 24px;
  height: 24px;
}

.footer_adresa {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  /* or 171% */
  letter-spacing: 0.03em;
  color: #FFFFFF;
}

.footer_join {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
  /*margin-top: 12px;*/
}

.footer_text_subscribe_and_input {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
  /*margin-top: 12px;*/
}

/*.footer_div_logo{
	padding-top: 60px;
}*/
.footer_div_subscribe {
  width: 144px;
  height: 30px;
  padding: 10px 28px;
}

.footer_social_media {
  width: 206px;
  height: 80px;
}

.footer_social_media_list_item {
  background: rgba(255, 255, 255, 0.1);
}

.footer_social_media_list_item:not(:last-child) {
  margin-right: 10px;
}

.footer_text_subscribe_and_input {
  margin-bottom: 20px;
}

.footer_div_input {
  margin-right: 12px;
}

.footer {
  padding: 60px 215px;
}

.footer_join {
  margin-bottom: 20px;
}

.footer_social_media {
  padding-top: 12px;
}

.footer_subscribe {
  padding-top: 12px;
}

.footer_text_subscribe {
  margin-right: 12px;
}

@media (max-width: 1199px) {
  .footer {
    width: 768px;
    height: 463px;
    padding: 62px 82px;
  }
  .footer_input_and_subscribe {
    display: block;
  }
  .footer_content {
    display: grid;
    grid-template-columns: 397px 206px;
    grid-template-rows: 167px 156px;
  }
  .footer_subscribe {
    margin-left: 90px;
    width: 450px;
    height: 156px;
  }
  .footer_text_subscribe_and_input {
    margin-left: 122px;
    width: 207px;
    height: 16px;
    margin-bottom: 20px;
    font-family: "Roboto-Bold";
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
  }
  .footer_div_subscribe {
    margin-left: 125px;
    margin-top: 20px;
  }
  .footer_input {
    width: 450px;
    height: 50px;
  }
}
@media (max-width: 767px) {
  .footer {
    width: 450px;
    height: 603px;
    padding: 60px 15px;
  }
  .footer_content {
    display: flex;
    flex-direction: column;
  }
  .footer_subscribe {
    margin-left: 90px;
    width: 450px;
    height: 156px;
  }
  .footer_text_subscribe_and_input {
    margin-bottom: 20px;
  }
  .footer_input {
    width: 420px;
    height: 50px;
  }
  .footer_div_input {
    width: 420px;
    height: 50px;
  }
  .footer_info {
    margin: 0 auto;
    text-align: center;
  }
  .footer_social_media {
    margin: 0 auto;
    text-align: center;
  }
  .footer_subscribe {
    margin: 0 auto;
    text-align: center;
  }
}