.what-title{
    @extend %flexible;
    color: #212121;

font-family: "Roboto";
font-size: 36px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: 1.08px;
margin-bottom: 50px;
}
.what-list{
    display: flex;
}
.what-subtitle{
    background: rgba(47, 48, 58, 0.80);
    color: #FFF;
text-align: center;
font-family: Roboto;
font-size: 14px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: 0.42px;
text-transform: uppercase;
width: 370px;
height: 70px;
}
.dd{
    background-image: url(./img/dd.png);
    
}
.md{
    background-image: url(./img/md.png);
    
}
.dr{
    background-image: url(./img/dr.png);
    
}
.what-item{
    width: 370px;
    height: 294px;
    padding-top: 224px;
&:not(:last-child){
    margin-right: 30px;
}
}
.dds{
    padding: 27px 107px;
}
.mds{
    padding: 27px 113px;
}
.drs{
    padding: 27px 95px;
}
.what{
    margin-left: 215px;
@media (max-width:1599px){
    display: none;
}
@media (max-width:767px){
    display: none;
}
}